APP_NAME=ionetiq Template
PROJECT_CODE=template
TEMPLATE_VERSION_AT_CREATION=1.1.1
COMPANY_NAME=ionetiq
DOWNLOADS_DIR=C:\Users\mikeb\My Drive\Downloads
WORKING_DIR=C:\inetpub\wwwroot\Template
GITHUB_REPO_URL=https://github.com/ionetiqdev/ionetiq-template.git
SUPABASE_PROJECT_NAME=template
